@font-face {
    font-family: gameOfThrones;
    src: url(assets/gameOfThrones.ttf);
}

body, html{
  
  height:100%;
  font-family: gameOfThrones;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 12px;
};
}
body, a:link, a:visited, a:active{
  /*color: lightblue;*/
  color:white;
}

.container {
  background-image: url(assets/bg.jpg);
    display: table;
    width: 100%;
    height: 100%;
    min-height: 100%;
    box-shadow: inset 0 0 5rem rgba(0,0,0,0.5);
    background-size: cover;
    background-position: center 0;
}

nav ul{
  margin: 0;
  list-style-type: none;
  height:100%;
  padding-left: 0;
  padding-right: 40px;
}
nav li{
  float:right;
  height: 100%;
  line-height: 30px;
}

nav li:last-child{
  float:left;
}
.title{
  float:left;
}
.nav-btn {
  color:black;
}
.title, .nav-btn{
  padding:5px 12px;
  float:right;
}
.topbar{
  height: 40px;
  background-color: #FFF;
  opacity: 0.5;
}
.title{
  background-color: #777;
}
.dancer{

  height: 300px;
  width: 150px;
  position:absolute;

}

.dancer span {
  height: 100%;
  width:100%;
}

.character-head { 
  height: 115px;
  margin: 0 0 0 35px;
  width: 54%;
  position: absolute;
  z-index: 1;
 /* -webkit-animation: head-rotation 1s infinite; /* Safari 4+ */
/*  -moz-animation:    head-rotation 1s infinite; /* Fx 5+ */
  /*-o-animation:      head-rotation 1s infinite; /* Opera 12+ */
  /*animation:         head-rotation 1s infinite; *//* IE 10+, Fx 29+ */
  animation: 
      head-rotation 1s infinite; 
      
  /*animation-delay: 2s, 2s;*/
}

@keyframes head-rotation {
  0%,100% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
}

@keyframes sword-rotation {
  from {
  transform: rotate(20deg);
  }
  to {
    transform: rotate(380deg);
  }
}

@keyframes body-fall {
  from {
  transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}

.character-body {
  height: inherit;
  margin: 65px 0 0 12px;
  width: 100%;
  position: absolute;
}

/*CHARACTERS*/

.cersei-head {
  margin-top: 30px;
  margin-left: 25px;
}

.snow-head {
  margin-top: 10px;
}
.tyrion-head {
  margin-top: 15px;
  margin-left: 28px;
}
.arya-head {
  margin-top: 12px;
  margin-left: 21px;
  width: 90px;
}
.khaleesi-head {
  margin-top: 4px;
  margin-left: 33px;
}

.sword {
  background: url('assets/sword.png') no-repeat;
  width: 57px;
  height: 300px;
  margin-left: 97px;
  margin-top: 62px;
  z-index: 999;
  position: absolute;
  transform: rotate(20deg);
}

.player-dancer {
  position: absolute;
  z-index: 999;
}

